<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<div th:replace="header::myheader"></div>
<title>Add New Price Winners</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Event Management System</h1>
		<hr>
		

		
		<div>
		<form class="form-inline" action="#" th:action="@{/searchPricewinner}">
		
			<input class="form-control" name="pricekey" type="text" placeholder="Exam Id" th:value="${pricekey}">
			<input type="submit" class="btn btn-secondary col-2" value="Search Price Winner">
			
		</form>
		</div>
		<br>
		<h2>Add New Price Winners</h2>
		<hr>
		

		<form action="#" th:action="@{/savePricewinner}" th:object="${pricewinner}" method="POST">
		
			<p><strong>Exam Id</strong> <input type="text" th:field="*{exam_id}" placeholder="Exam Id" class="form-control mb-4 col-4">
		
			<p><strong>Exam Name</strong> <input type="text" th:field="*{exam_name}" placeholder="Exam Name" class="form-control mb-4 col-4">
				
			<p><strong>Student Id</strong> <input type="text" th:field="*{student_id}" placeholder="Student Id" class="form-control mb-4 col-4">
				
			<p><strong>Marks</strong> <input type="text" th:field="*{marks}" placeholder="Marks" class="form-control mb-4 col-4">
			
			<p><strong>Subject</strong> <input type="text" th:field="*{subject}" placeholder="Subject" class="form-control mb-4 col-4">
			
			<p><strong>Grade</strong> <input type="text" th:field="*{grade}" placeholder="Grade" class="form-control mb-4 col-4">	
			
			<button type="submit" class="btn btn-info col-2"> Save Price Winners </button>
		</form>
		
		<hr>
		
		<a th:href = "@{/showPricewinnersForm}"> Back to Winner List</a>
	</div>
	<div th:insert="footer ::foot"></div>
</body>
</html>